@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Employee Code is missing!</h1>

<h2 class="text-danger">Employee Code is missing, Detail report must provide an employee code!</h2>

