<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="DBServer196" connectionString="data source=10.254.162.196;Initial Catalog=VINSolutions_API;User Id=users;Password=users;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>